/* GOOGLE FONT LINK */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


/* GLOBAL CSS VALUES */

:root {
  --primary-color: #3bc3df;
  --primary-color-light: #e9f7f7;
  --secondary-color: #2567d5;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
}

.section-header {
  margin-bottom: .3rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}


span {
  color: var(--secondary-color);
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}


/* HEADER SECTION START */

header {
  background-image: linear-gradient(to right,
      rgb(18, 128, 172, 0.7),
      rgba(18, 128, 172, 0.3)),
    url("Images/1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
}

.header-container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 1rem;
}

.header-container h1 {
  max-width: var(--max-width);
  margin-inline: auto;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--white);
  letter-spacing: -2px;
  margin-top: -50px;
  text-align: center;
}

.header-container p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  color: #f0f8ff
}

.pop-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 300px;
  height: 400px;
  background: #ffffff;
  z-index: 2;
  opacity: 0;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

body.showLLoginForm .pop-overlay {
  display: block;
}

body.showLLoginForm .popup {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup .popup-close {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 35px;
  height: 35px;
  background: #555;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.popup .form .avatar {
  margin: 30px 0px 20px;
  text-align: center;
}

.popup .form .avatar img {
  width: 130px;
  margin: auto;
}

.popup .form .header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin: 20px 0px;
}

.popup .form .element {
  padding: 8px 20px;
}

.popup .form .element label {
  display: block;
  font-size: 14px;
  color: #222;
  margin-bottom: 5px;
}

.popup .form .element input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 5px;
}

.popup .form .element button {
  margin-top: 5px;
  width: 100%;
  padding: 10px 0px;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #4889da;
  color: #ffffff;
}

/* HEARDER SECTION END */


/* SERVICE SECTION START */

.service-grid {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.service-card {
  width: 370px;
  height: 250px;
  position: relative;
  isolation: isolate;
  padding-top: 4rem;
  overflow: hidden;
}

.service-card-bg {
  padding: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.service-card-bg img {
  margin-top: -8em;
}

.service-card-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--primary-color);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: 0.3s;
}

.service-card:hover .service-card-content {
  top: 0;
}

.service-card-content h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}

.service-card-content p {
  color: var(--text-dark);
  text-align: start;
  font-size: 1rem;
  text-transform: capitalize;
}

/* SERVICE SECTION END */


/* ABOUT SECTION START */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 2rem;
  align-items: center;
}

.about-content p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  text-align: justify;
  font-size: 1rem;
  letter-spacing: .2px;
  text-transform: capitalize;
}

.about-image img {
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.info-card {
  padding: 3rem 5rem;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 5rem;
}

.info-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  background-color: var(--secondary-color);
  border-radius: 3rem;
}

.info-card h4 {
  font-size: 5rem;
  font-weight: 500;
  color: var(--white);
}

.info-card p {
  font-size: 1.5rem;
  color: var(--white);
}

/* ABOUT SECTION END */


/* TESTIMONIAL SECTION START */

.review-container .section__header {
  max-width: 1200px;
  margin-bottom: 3rem;
  text-align: start;
}

.review-date {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--text-light);
}

.review-date span {
  padding-right: 10px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 2.5rem;
  border-right: 2px solid var(--text-light);
}

.review-date div p {
  margin-bottom: 0;
  font-weight: 500;
  color: var(--text-light);
}

.review-card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--text-dark);
}

.review-card p {
  margin-bottom: 2rem;
  color: var(--text-dark);
  text-align: justify;
}

/* TESTIMONIAL SECTION END */


/* TRAINER SECTION START */
.trainer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


.trainer-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;
}

.trainer-card {
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  filter: blur(1.5px);
  overflow: hidden;
}

.trainer-card:hover {
  transform: scale(1);
  filter: blur(0);
  border: 5px solid var(--secondary-color);
}

.card-image {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.socials-icons {
  position: absolute;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.socials-icons span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.socials-icons span:hover {
  color: var(--secondary-color);
}

.trainer-card:hover .socials-icons {
  bottom: 2rem;
}

.trainer-card h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.trainer-card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

/* TRAINER SECTION END */


/* FOOTER SECTION START */

.footer {
  background-color: var(--primary-color-light);
}

.footer-container {
  display: grid;
  grid-template-columns: 350px repeat(2, 1fr);
  gap: 1rem;
}

.footer-col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.footer-col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.footer-col p:hover {
  color: var(--primary-color);
}

.footer-col i {
  color: var(--secondary-color);
}

.footer-bar-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* FOOTER SECTION END */


/* CSS FOR RESPONSIVE DESIGN */

@media (width < 900px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-image {
    flex-direction: column-reverse;
  }

  .about-content {
    text-align: center;
  }

  .trainer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (width < 780px) {
  .header-container {
    flex-direction: column;
  }
}

@media (width < 600px) {

  .header-container h1 {
    font-size: 3rem;
    letter-spacing: .2px;
    margin-top: -70px
  }

  .service-header {
    flex-direction: column;
    text-align: center;
  }

  .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .trainer-header {
    flex-direction: column;
    text-align: center;
  }

  .trainer-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-bar-content {
    flex-direction: column;
    gap: 1rem;
  }
}

/* CSS ENDS HERE:) */